body {
    background-color: #2d1e3c;
}

h1 {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    color: #f32672;
    text-align: center;
    font-size: 3em;
    margin: 0;
    margin-top: 20px;
}

h2 {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    margin-top: 20px;
}

h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 1em;
    margin: 0;
    display: none;
    margin-bottom: 15px;
}

h6 {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    margin-top: 20px;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

.sleep-btn {
    font-family: 'Didact Gothic', sans-serif;
    background-color: #f32672;
    color: white;
    padding: 0.8em;
    border-radius: 10px;
    cursor: pointer;
}

#canvas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#lower {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#now {
    text-align: center;
    margin: 0;
    width: auto;
    padding: 0;
    background: rgba(81, 51, 108, 0.5);
    margin: 1%;
    padding: 1%;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#later {
    text-align: center;
    margin: 0;
    width: auto;
    padding: 0;
    background: rgba(81, 51, 108, 0.5);
    margin: 1%;
    padding: 1%;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 2%;
    margin-right: 2%;
}

#heading {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 0;
}

#sleepnow,
#sleeplater {
    margin-top: 20px;
    margin-bottom: 20px;
}

#timewake {
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

#times1,
#times2 {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.time {
    margin: 5px;
    color: white;
    border: 1px solid #f32672;
    font-family: 'Didact Gothic', sans-serif;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.time:hover {
    color: #f32672;
    border: 1px solid #f32672;
    background-color: white;
    font-family: 'Didact Gothic', sans-serif;
    padding: 10px;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    margin-top: 20px;
    font-family: 'Source Sans Pro';
    text-align: center;
    margin-right: 5px;
    border-bottom: 1px solid #f32672;
    border-radius: 0;
    padding: 10px;
    text-align-last: center;
}

select:hover {
    cursor: pointer;
}

select:focus {
    outline: none;
    border-bottom: 1px solid #f32672;
    border-radius: 0;
}

#foot {
    margin-top: 20px;
    font-size: 1em;
    position: fixed;
    bottom: 0;
    background: rgba(81, 51, 108, 0.5);
    width: 100%;
    padding: 10px;
    font-family: 'Didact Gothic', sans-serif;
    color: white;
}

#foot>span {
    float: right;
    margin-right: 20px;
}

#foot>span>a {
    text-decoration: none;
    color: white;
}

#foot>span>a:hover {
    color: #f32672;
}

#foot>a {
    text-decoration: none;
    color: white;
}

#foot>a:hover {
    color: #f32672;
}

.link {
    cursor: pointer;
}

#now:hover,
#later:hover {
    -webkit-box-shadow: -2px 11px 57px 4px rgba(36, 36, 36, 1);
    -moz-box-shadow: -2px 11px 57px 4px rgba(36, 36, 36, 1);
    box-shadow: -2px 11px 57px 4px rgba(36, 36, 36, 1);
    transform: scale(1.01);
}
